@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&display=swap');

:root {
    --body--color: #020403;
    --white--color: #FFFFFF;
    --orange--color: #fce780;
    --black--color: #000000;
    --text--color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background: var(--body--color);
    color: var(--text--color);
}

header {
    height: 80px;
    padding: 0px 100px 0px 100px;
    background-color: var(--black--color);
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .menu p {
    font-size: 24px;
}

header .menu img {
    width: 170px;
}

main {
    width: 95%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
}

.formulario {
    background: var(--black--color);
    color: var(--text--color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

.formulario h2 {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
}

.formulario input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--black--color);
    border-radius: 8px;
}

button {
    margin-top: 25px;
    width: 100%;
    border: none;
    background: var(--orange--color);
    color: var(--black--color);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
}

.lista {
    background: var(--black--color);
    color: var(--text--color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--white--color);
}

td img {
    width: 70px;
}

.editar {
    background: #2ecc71;
}

.excluir {
    background: #e74c3c;
}

.editar,
.excluir {
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px;
}

@media(max-width:900px) {
    header {
        padding: 20px;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    main {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

@media(max-width:600px) {
    main {
        width: 100%;
        margin: 20px auto;
        gap: 20px;
        padding: 0 12px;
    }

    .formulario,
    .lista {
        padding: 16px;
    }

    .formulario input {
        font-size: 16px;
    }

    header h1 {
        font-size: 22px;
    }

    header .menu p {
        font-size: 14px;
    }

    header .menu img {
        display: flex;
        width: 100px;
    }

    th,
    td {
        padding: 10px;
        font-size: 14px;
    }

    td img {
        width: 50px;
    }

    .editar,
    .excluir {
        padding: 6px 10px;
        font-size: 13px;
    }
}

@media(max-width:400px) {
    header p {
        font-size: 14px;
    }

    .formulario h2,
    .lista h2 {
        font-size: 18px;
    }
}